:root {
	--gold: #cda274;
	--accent-dark: #292f36;
	--yogourt: #f4f0ec;
}
@font-face {
	font-family: 'Jost';
	src: url('/fonts/Jost-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Jost';
	src: url('/fonts/Jost-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DM Serif Display';
	src: url('/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DM Serif Display';
	src: url('/fonts/DMSerifDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

body {
	font-family: 'Jost', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
}
